body {
    margin: 3rem;
}

input , textarea{
    margin-top: 1rem;
}

.final-submit {
    margin-top: 1rem;
}

.display-table ,  tr , th , td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding : 1rem;

}


.address-section {
    max-width: 10rem;
    word-wrap: break-word;
}